<h1>Create Post</h1>
<form class="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Title</label> <input type="text" class="form-control" [(ngModel)]="post.title" name="title"/>
      </div>
      <div class="form-group">
        <label for="">Category</label>
        <input type="text" class="form-control"  [(ngModel)]="post.category" name="category"/>
      </div>
      <div class="form-group">
        <label for="">Author</label> <input type="text" class="form-control"  [(ngModel)]="post.author" name="author"/>
      </div>
      <div class="form-group">
        <label for="">Content</label> <textarea class="form-control" rows="10" [(ngModel)]="post.content" name="content"></textarea>
      </div>
      <div class="form-group">
        <a (click)="add()" class="btn btn-primary">Add</a>
      </div>
    </div>
  </div>
</form>
